<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfigData" type="xwcs.core.cfg.ConfigData, xwcs.core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>



  <ConfigData>
    <TestConfig>
      <add key="User" value="administrator"/>
      <add key="Pass" value="reader"/>
    </TestConfig>
    <TestClass>
      <add key="ACL" value="localhost:4859:acl"/>
      <add key="MAIN" value="localhost:4859:xdocwaydoc"/>
    </TestClass>
  </ConfigData>
</configuration>